<div>

  <!-- filtres -->
  <div>
    <input type="text" placeholder="Filtre par mot-clé" ng-model="search">
    <select ng-model="selectedCountry">
      <option value="">Filtre par pays</option>
      <option
        value="{{country}}"
        ng-repeat="country in countries | orderBy">
        {{country}}
      </option>
    </select>
  </div>

  <!-- formulaire d'ajout d'un client -->
  <div style="margin-top:40px">
    <button
      class="btn btn-primary"
      ng-click="isVisible=!isVisible">Ajouter un client</button>
    <div ng-show="isVisible">
      <input type="text" placeholder="Nom" ng-model="client.lastname">
      <input type="text" placeholder="Prénom" ng-model="client.name">
      <input type="text" placeholder="Age" ng-model="client.age">
      <button
        ng-click="saveClient()"
        class="btn btn-primary btn-xs">Enregistrer</button>
      <span>{{messageError}}</span>

    </div>
  </div>

  <!-- infos complémentaires -->
  <div>{{clientsFiltered.length}} / {{clients.length}}</div>

  <!-- tableau des clients -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Photo</th>
        <th ng-click="changeOrder('lastname')" class="clicable">Nom</th>
        <th ng-click="changeOrder('name')" class="clicable">Prénom</th>
        <th ng-click="changeOrder('age')" class="clicable">Age</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tr
      ng-repeat="client in clientsFiltered = (clients |
        filter:{age:search, country:selectedCountry}) |
        orderBy:criterium:reverse"
      ng-class="styleYoungest(client.age)">
      <td>{{$index + 1}}</td>
      <td>
        <img class="client" ng-src="app/img/{{client.imageUrl}}">
      </td>
      <td>{{client.lastname}}</td>
      <td>{{client.name}}</td>
      <td>{{client.age}} ans</td>
      <td>
        <button
          class="btn btn-danger"
          ng-click="removeClient(client.lastname)">
          Supprimer
        </button>
        <a
          class="btn btn-primary"
          ng-href="#/clients/{{client.lastname}}">Détails</a>
      </td>
    </tr>
  </table>
</div>
